.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content-left {
    display: flex;
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    flex: 1 1 0;
}

.content-right {
    display: flex;
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 0;
}

.notes-container {
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
}

.notes {
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
}

.Day {
    color: rgb(238, 153, 55);
    text-align: center;
}