.all-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.single-day {
    border: 2px solid black;
    padding: 3rem;
    margin: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}